body{
    text-align: center;
    margin: 0;
}


.box{
    width: 400px;
    height: 400px;
    background-color: crimson;
    border-radius: 50%;
    margin: 0.3px;
    cursor: pointer;
}

.box_1{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: -10px;
    align-items: center;
}

