

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: url(https://vizavitour.by/upload/iblock/c46/c463a859a1b16c68d8e0be1ea4a3aabd.jpg);
   background-size: cover;
   
}   





.login-box{
    width: 280px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
    color: white;
}

.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid  rgb(70, 70, 151);
    margin-bottom: 30px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid   rgb(70, 70, 151);
  
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px ;
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid   rgb(70, 70, 151);
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 12px 0;
}